@model QStack.Framework.Basic.ViewModel.Articles.ArticleDto
@if (Model.ArticleType == 0)
{
    <div class="cc-common">
        <div class="thumbs_content">
            <a href="javascript:void(0)" class="thumbs_button fa fa-thumbs-up" title="点赞，支持一下"> 点赞<span class="badge">@(Model.ZanNum==0?"": Model.ZanNum>99?"99+" : Model.ZanNum.ToString())</span></a>
            <a href="javascript:void(0)" class="reward_button fa fa-money" title="打赏，支持一下"> 打赏</a>

            <span class="clear"></span>

        </div>
        <div id="contribute" style="display: none;">
            <div class="contribute-container">
                <img src="~/images/wechat.png" alt="微信">
                <img src="~/images/alipay.png" alt="支付宝">
            </div>
        </div>
        <div class="cc-banquan">
            <strong>码字不易，如果本文对您有帮助，可以打赏一二，作为站长维护服务器的费用，金额不限！</strong><br>
            <strong>本文地址：</strong><a href="@(ViewContext.HttpContext.Request.GetAbsoluteUri())" title="@(Model.Title)" target="_blank">@(ViewContext.HttpContext.Request.GetAbsoluteUri())</a><br>
            <strong>版权声明：</strong>本作品采用<a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/">知识共享署名-禁止演绎 4.0 国际许可协议</a>进行许可,转载请保留出处！
        </div>
    </div>
}
else
{
    <div class="cc-common">
        <div class="cc-banquan">
            <strong>
                此文章来源于互联网，本站仅作转载分享之用。
            </strong><br>
            <strong>原文地址：</strong><a href="@(Model.SourceUrl)" title="" target="_blank">@(Model.SourceUrl)</a><br>
            <strong>来源：@(string.IsNullOrWhiteSpace(Model.Author)?"佚名": Model.Author) -  @(string.IsNullOrWhiteSpace(Model.Source) ? "互联网" : Model.Source)</strong>
        </div>
    </div>
}